/*Datos personales
Celia Barral Juárez
UO277578
*/


/*Especificidad 001*/
header{
    background-color:#DACAC4; 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius:20%;

}
/*Especificidad 001*/
h1 {
    margin-left: 3%; /* Ajusta este valor según la separación deseada */
}
/*Especificidad 002*/
header>nav {
    margin-right: 3%; /* Ajusta este valor según la separación deseada */
}

@media screen and (max-width:767px){
    /*Especificidad 001*/
    header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    /*Especificidad 001*/
    nav{
        display: flex;
        flex-direction: column;
    }
}

